$light-violet: #0a3b6f69;

.header {
  grid-area: header;
  background-color: $light-violet;
  img {
    width: 50px;
    margin: 0.5em 0.5em auto;
  }
  .loginBlock {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    color: white;
  }
}