$light-violet: rgba(10, 59, 111, 0.32);
$white-blue: aliceblue;
$midnight-blue: #0a476fcf;

.nav {
  grid-area: n;
  background-color: $midnight-blue;
  color: $white-blue;
  padding: 15px 15px;
  .nav_item {
    padding: 1em;

    .f_bar{
      margin-top: 0.5em;
    }
  }

  a {
    color: $white-blue;
    text-decoration: none;
  }
  a:hover {
    background-color: #f0f8ffab;
    transition: background 0.6s ease;
  }
  .active {
    font-size: larger;
    color: $midnight-blue;
    font-weight: bold;
    background-color: #f0f8ffab;
    transition: background 0.10s ease-in;
    text-decoration: underline;
  }
}
